* {
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

.tab {
  display: inline-block;
  margin-left: 170px;
}

/* Style the content */
.headline {
  font-size: 70px;
}

@media screen and (max-width: 600px) {
  .headline {
    font-size: 50px;
  }
}

.content {
  background-image: url("images/skyline.png");
  text-align: center;
  color: black;
  height: 600px;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% 50%;
  border-bottom: solid;
  border-color: rgb(0, 0, 0);
}

@media screen and (max-width: 600px) {
  .content {
    width: 100%;
    background-size: contain;
    height: 250px;
  }
}

.paragraph {
  color: black;
  padding-left: 200px;
  padding-right: 200px;
  margin-bottom: 0;
}

@media screen and (max-width: 600px) {
  .paragraph {
    font-size: 12px;
    padding: 10px;
  }
}

/* Skills Section */
.skills {
  text-align: left;
}

.skill {
  padding: 25px;
}

.skill-border {
  border: solid;
  border-width: 1px;
  padding: 25px;
  border-color: #f1f1f1;
  transition: transform 0.2s;
}

.skill-border:hover {
  box-shadow: 5px 10px 5px #00000018;
  transform: scale(1.2);
}

.skill-row {
  margin-left: 80px;
  margin-right: 80px;
  text-align: center;
  margin-bottom: 40px;
}

.skill-column {
  float: left;
  width: 33.33%;
  padding: 50px;
  font-size: small;
}

/* Clear floats after the columns */
.skill-row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .skill-column {
    width: 100%;
  }
}

/* project tabs */
/* Style the tab buttons */
.projects-container {
  padding-top: 100px;
  padding-bottom: 200px;
  text-align: center;
  border-top: solid;
  border-width: 1px;
  border-color: black;
}

@media screen and (max-width: 600px) {
  .projects-container {
    width: 100%;
  }
}

.project-tabs {
  padding-left: 60px;
  padding-right: 60px;
}
.tablink {
  background-color: white;
  color: black;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

/* Change background color of buttons on hover */
.tablink:hover {
  background-color: white;
  color: black;
}

/* Set default styles for tab content */
.tabcontent {
  color: white;
  display: none;
  padding: 100px;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

/* Style each tab content individually */
#London {
  background-color: #d30001;
}
#Paris {
  background-color: #61dafb;
}
#Tokyo {
  background-color: #fa7a18;
}
#Oslo {
  background-color: #b07219;
}

/* about me */
.square {
  border-radius: 8px;
  opacity: 0;
  transform: scale(1.2);
  border-color: rgba(0, 0, 0, 0.089);
}

@media (prefers-reduced-motion: no-preference) {
  .square {
    transition: opacity 2s ease, transform 2s ease;
  }
}

.square-transition {
  opacity: 1;
  transform: none;
}

.hero-image {
  padding-top: 50px;
  padding-bottom: 30px;
  text-align: center;
}

.about_me {
  background-color: white;
  text-align: center;
  border-bottom: solid;
  border-top: solid;
  border-color: rgba(0, 0, 0, 0.089);
  border-width: 1px;
}

.about_me_text {
  padding-bottom: 50px;
  padding-left: 200px;
  padding-right: 200px;
}

@media screen and (max-width: 600px) {
  .about_me_text {
    font-size: 12px;
    padding: 10px;
  }
}

/* testimonials */
/* Create three equal columns that floats next to each other */
.row {
  margin-top: 80px;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 80px;
  text-align: center;
}
.column {
  float: left;
  width: 33.33%;
  padding: 50px;
  transition: transform 0.2s;
  font-size: small;
}

.column:hover {
  transform: scale(1.3);
}

.column-text {
  text-align: left;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
  bottom: 0;
  position: fixed;
  width: 100%;
}

ul {
  list-style: none;
  display: inline;
  margin-right: 50px;
}

li {
  display: inline;
}

.icons-img {
  height: 25px;
}

.icons-img:hover {
  opacity: 0.5;
}
