* {
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

body {
  margin: 0;
  font-family: "Space Mono", monospace;
}

/* Style the content */
.headline {
  font-size: 70px;
}
.content {
  padding: 10px;
  text-align: center;
}

/* project tabs */
/* Style the tab buttons */
.project-tabs {
  margin-top: 20px;
  margin-bottom: 150px;
  padding-left: 200px;
  padding-right: 200px;
}
.tablink {
  background-color: white;
  color: black;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.bottom-left {
  border-bottom-left-radius: 25px;
}

.bottom-right {
  border-bottom-right-radius: 25px;
}

/* Change background color of buttons on hover */
.tablink:hover {
  background-color: white;
  color: black;
}

/* Set default styles for tab content */
.tabcontent {
  color: white;
  display: none;
  padding: 50px;
  text-align: center;
}

/* Style each tab content individually */
#London {
  background-color: #d30001;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
#Paris {
  background-color: #61dafb;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
#Tokyo {
  background-color: #fa7a18;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
#Oslo {
  background-color: #b07219;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

/* about me */
.hero-image {
  padding-top: 50px;
  padding-bottom: 30px;
  text-align: center;
}

.about_me {
  background-color: #f1f1f1;
  text-align: center;
}

.about_me_text {
  padding-bottom: 50px;
}

/* testimonials */
/* Create three equal columns that floats next to each other */
.row {
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 80px;
}
.column {
  float: left;
  width: 33.33%;
  padding: 50px;
  transition: transform 0.2s;
}

.column:hover {
  transform: scale(1.2);
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
  bottom: 0;
  position: fixed;
  width: 100%;
}

ul {
  list-style: none;
  display: inline;
  margin-right: 50px;
}

li {
  display: inline;
}

.icons-img {
  height: 25px;
}

.icons-img:hover {
  opacity: 0.5;
}
